[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/puppet-wget"]
	path = puppet/modules/puppet-wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "puppet/modules/puppetlabs-mysql"]
	path = puppet/modules/puppetlabs-mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/puppetlabs-stdlib"]
	path = puppet/modules/puppetlabs-stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
